# Git
.gitmodules

# Env
.env
TaipyEnterprise.md
taipy_success.code-workspace

# Local settings
.DS_Store
.vscode/
**/__pycache__/
**/user_data/
**/.taipy/

# Configuration
nginx.conf

# Content
TODO.md
*.png

# Database
app/databases/

# Enterprise
scenarios/poetry.lock
scenarios/pyproject.toml

